<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-inputs">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control", :autofocus => true, required: true %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, class: "form-control", :autocomplete => "off" %>
        </div>

        <div class="form-group">
          <%= f.label :current_password %><i>(we need your current password to confirm your changes)</i>
          <%= f.password_field :current_password, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit "Update", class: "btn btn-primary" %>
        </div>
      </div>
    </div>

  </div>

<% end %>

<div class="panel-footer">
  <h3>Cancel my account</h3>
  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  <%= link_to "Back", :back %>
</div>
